/* Generic Styling For Multiple Pages */

/* Google Fonts - Ubuntu Font */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Default Margin/Padding Correction */

*, html, body {
    margin: 0;
    padding: 0;
}

/* Other Element Styling */

h1, h2, h3, label, p {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
}

label, input, div.g-recaptcha, #modificationType, #GIF1_Preview > img, #GIF2_Preview > img, #GIF3_Preview > img, #taskGIF > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modificationType{
    margin-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
}

input {
    font-family: "Ubuntu", sans-serif;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
    padding: 6px;
    background-color: #d5ebe0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.25em;
    margin-bottom: 5px;
    margin-top: 15px;
}

label, .submitButton, .largeSizedP {
    font-size: 1em;
}

label, .largeSizedP, #confirmGIFSelection {
    margin-bottom: 5px;
}

.largeSizedP {
    font-weight: 900;
    font-style: italic;
    margin-top: 15px;
}

textarea {
    width: 95%;
    height: 87px; /* The perfect size without expanding the menu more than necessary */
    font-size: 1em;
    resize: none;
    margin-bottom: 15px;
}

.button {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#afccbe;
	border:2px solid #3b6e22;
    font-weight: 600;

}

.button:hover {
    background-color: #92bca8;
}

.displayBlockCenter, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonWrapper{
    width: 100%;
    margin-bottom: 5px;
}

.buttonCenterer{
    text-align: center;
}

.buttonCenterer > * { /* Children */
    margin-left: 15px;
    margin-right: 15px;
}

.selection, #nameFilter {
    margin-bottom:15px;
    font-style: italic;
}

#dateStartFilter, #GIF1_Preview, #GIF2_Preview {
    margin-bottom: 5px;
}

.currentSelection{
    font-size: 1em;
}

input {
    font-size: 0.9em;
    margin-bottom: 15px;
}

p {
    font-size: 0.85em;
}

div.g-recaptcha {
    width: 300px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #1c4c5c;
    font-weight: 900;
}

#errorMessage, #message {
    margin-bottom: 15px;
    color: red;
    font-weight: 900;
}

#messageAdditionalMenu{
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    font-weight: 900;
}

.task:hover {
    background-color: #f5be25;
}


#filterContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#filterContainer > * { /* Children (Filter Menus) */
    border-style: solid;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
}

.filterControllers{
    margin-top: 15px;
}

#contentWrapperTaskAdditionalMenu {
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 97%;
}

#taskAdditionalMenu-TaskName{
    word-wrap: break-word;
}

#taskAdditionalMenuContainer {
    display: flex;
    justify-content: center;
}

#GIF3_Preview, #taskGIF {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse; /* Remove the unclickable space between tables */
    width: 100%;
    table-layout: fixed;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 15px;
}

table td {
    text-align: center;
    font-size: 0.85em;
    word-wrap: break-word;
}

table th {
    font-size: 1em;
}

#GIFContainer, #AdditionalInformationArea {
    width: 33%;
}

#GIFSelectorContainer {
    width: 34%;
}

#GIFSelectorContainer, #AdditionalInformationArea, #GIFContainer {
    margin: 5px;
    border: solid;
    background-color: #d5ebe0;
}


#ThreeSectionDivider {
    display: flex;
}

#statusFilterContainer, #nameFilterContainer, #dateFilterContainer {
    background-color: #d5ebe0;
}

#nameFilter, #GIFSearchField {
    width: 80%;
}

#fname, #fpass{
    font-size: 0.7em;
    text-align: center;
}

#welcomeMessage {
    margin-right: 15px;
}

#nameDisplay{
    display: flex;
    justify-content: center;
}

#statusFilterType{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dateFromDateToWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

#popupScreen{
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.7;
}

#whiteScreen{
    background-color: white;
    width: 50%;
    height: 273px;
    z-index: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#AdditionalInformationArea, #GIFContainer {
    height: 172px;
}

#gifSubmissionContainerButton {
    position: relative;
    top: 65px;
    margin-top: -40px;
}

#submitGIFSearch{
    background-color: white;
}

#submitGIFSearch:hover {
    background-color: rgb(174, 185, 164);
}

/* Responsive CSS */

@media screen and (min-width: 1137px){
    #filterContainer > * {
        width: 28%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (min-width: 1250px){
    #filterContainer > * {
        width: 23%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1618px){
    #filterContainer > * {
        width: 18.5%;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media screen and (max-width: 940px) {

    /* Change the layout of the boxes to be under each other instead since they are very compressed */
    #filterContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #filterContainer > * {
        margin-bottom: 15px;
        width: 35%;
    }

    #ThreeSectionDivider > *, #GIFSelectorContainer {
        width: 94%;
    }
}

@media screen and (max-width: 984px){
    
    #whiteScreen{
        width: 60%;
    }

}

@media screen and (max-width: 835px) {

    #filterContainer > * {
        width: 45%;
    }

    #whiteScreen{
        width: 75%;
    }

}

@media screen and (max-width: 650px) {

    #filterContainer > * {
        width: 55%;
    }

    #whiteScreen {
        width: 85%;
    }

}

@media screen and (max-width: 575px) {
    #whiteScreen {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 550px) {

    #filterContainer > * {
        width: 65%;
    }

}

@media screen and (max-width: 450px) {

    #filterContainer > * {
        width: 75%;
    }

}