.task:hover {
    
    background-color: yellow;
    
}

table {
    border-collapse: collapse; /* Remove the unclickable space between tables */
    width: 100%;
}

table td {
    text-align: center;
}